<<<<<<< HEAD
.answers-block {
    background-color: #D3E8E1;
    border-radius: 20px;
    border: 2px solid;
    padding: 20px;
=======
.answers-block {
    background-color: #D3E8E1;
    border-radius: 20px;
    border: 2px solid;
    padding: 20px;
>>>>>>> Additions
}