<<<<<<< HEAD
.player {
    margin-bottom: 30px;
}
.playing, .paused {
    cursor: pointer;
}

.playing {
    width: 19px;
    height: 30px;
    border-right: 7px solid;
    border-left: 7px solid;
}

.paused {
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent black;
    border-style: solid;
}

.time-bar {
    width: 90%;
    height: 2px;
    background-color: black;
    position: relative;
    top: 14px;
}

.track-slider {
    width: 5px;
    height: 30px;
    position: relative;
    top: -14px;
    background-color: black;
}

=======
.player {
    margin-bottom: 30px;
}
.playing, .paused {
    cursor: pointer;
}

.playing {
    width: 19px;
    height: 30px;
    border-right: 7px solid;
    border-left: 7px solid;
}

.paused {
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent black;
    border-style: solid;
}

.time-bar {
    width: 90%;
    height: 2px;
    background-color: black;
    position: relative;
    top: 14px;
}

.track-slider {
    width: 5px;
    height: 30px;
    position: relative;
    top: -14px;
    background-color: black;
}

>>>>>>> Additions
